# Default ignored files
/shelf/
/workspace.xml

# -----------------------------
# Rider / IntelliJ
# -----------------------------
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
.idea/
*.iml

# -----------------------------
# Visual Studio
# -----------------------------
.vs/
*.user
*.suo

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# -----------------------------
# .NET build output ignore
# -----------------------------
**/bin/
**/obj/
**/packages/
